<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define C_UPGRADECODE = "E80D832B-B4E6-4579-9E41-1D7A15349C60" ?>
  <?define C_NAME = "Docker Volume Watcher" ?>
  <?define C_SHORT = "Docker Volume Watcher" ?>
  <?define C_DESCRIPTION = "Docker Volume Watcher" ?>
  <?define C_INSTALL = "ch.darkink.docker_volume_watcher" ?>
  <?define C_SOURCELOG = "DockerVolumeWatcherSource" ?>
  <?define C_NAMELOG = "Docker Volume Watcher" ?>

  <Product Id="*"
           Name="$(var.C_NAME)"
           Language="1033"
           Version="$(var.BuildVersion)"
           Manufacturer="Darkink"
           UpgradeCode="$(var.C_UPGRADECODE)">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
             Description="$(var.C_DESCRIPTION)" Manufacturer="Darkink"/>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 4.6.2. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
    </Condition>

    <Property Id="REG_ISPOLLENABLED" Value="#1">
      <RegistrySearch Id="SEARCH_REG_ISPOLLENABLED" Type="raw" Root="HKCU" Key="Software\Darkink\$(var.C_INSTALL)\Settings" Name="IsPollEnabled" />
    </Property>
    <Property Id="REG_POLLINTERVAL" Value="#1000">
      <RegistrySearch Id="SEARCH_REG_POLLINTERVAL" Type="raw" Root="HKCU" Key="Software\Darkink\$(var.C_INSTALL)\Settings" Name="PollInterval" />
    </Property>
    <Property Id="REG_CHECKUPDATEAUTOMATICALLY" Value="#1">
      <RegistrySearch Id="SEARCH_REG_CHECKUPDATEAUTOMATICALLY" Type="raw" Root="HKCU" Key="Software\Darkink\$(var.C_INSTALL)\Settings" Name="CheckUpdateAutomatically" />
    </Property>
    <Property Id="REG_INGOREFILEMANDATORY" Value="#1">
      <RegistrySearch Id="SEARCH_REG_INGOREFILEMANDATORY" Type="raw" Root="HKCU" Key="Software\Darkink\$(var.C_INSTALL)\Settings" Name="IngoreFileMandatory" />
    </Property>
    <Property Id="REG_NOTIFIERACTIONTYPE" Value="#1">
      <RegistrySearch Id="SEARCH_REG_NOTIFIERACTIONTYPE" Type="raw" Root="HKCU" Key="Software\Darkink\$(var.C_INSTALL)\Settings" Name="NotifierActionType" />
    </Property>
    <Property Id="REG_DOCKERENDPOINT" Value="npipe://./pipe/docker_engine">
      <RegistrySearch Id="SEARCH_REG_DOCKERENDPOINT" Type="raw" Root="HKCU" Key="Software\Darkink\$(var.C_INSTALL)\Settings" Name="DockerEndpoint" />
    </Property>

    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <?define EmbedCabOption = yes?>
    <Media Id="1" Cabinet="app.cab" EmbedCab="$(var.EmbedCabOption)" />

    <Feature Id="ProductFeature" Title="DockerVolumeWatcher" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="RegistryEntries" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.C_INSTALL)" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Docker Volume Watcher"/>
      </Directory>
      <Directory Id="DesktopFolder" />

    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AppComponent" Guid="{5FB83AAC-73D4-4117-91A9-74B18DD16E6F}" DiskId="1">
        <File Id="AppComponent.exe" Source="$(var.ch.darkink.docker_volume_watcher.service.TargetPath)" Checksum="yes" KeyPath="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.service.TargetPath).config" Checksum="yes" />
        <File Id="AppTray.exe" Source="$(var.ch.darkink.docker_volume_watcher.trayapp.TargetPath)" Checksum="yes" />
        <File Id="updater.exe" Source="$(var.ch.darkink.docker_volume_watcher.updater.TargetPath)" Checksum="yes" />

        <RegistryValue Root="HKLM" Key="SOFTWARE\Darkink\$(var.C_INSTALL)" Name="InstallFolder" Value="[INSTALLFOLDER]" Type="string" />

        <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes"
                        Name="$(var.C_NAME)" DisplayName="$(var.C_DESCRIPTION)"
                        Description="$(var.C_DESCRIPTION)"
                        Start="demand" Account="LocalSystem" ErrorControl="ignore" Interactive="no" />
        <ServiceControl Id="StartService" Name="$(var.C_NAME)" Stop="both" Remove="uninstall" Wait="yes" />
      </Component>

      <Component Id="ServiceLibs" Guid="{11777266-2AC1-4FB2-BAE0-AFCB505D5F5C}" DiskId="1">
        <File Source="$(var.ch.darkink.docker_volume_watcher.service.TargetDir)\Docker.DotNet.dll" Checksum="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.service.TargetDir)\Newtonsoft.Json.dll" Checksum="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.service.TargetDir)\System.Buffers.dll" Checksum="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.service.TargetDir)\System.Runtime.dll" Checksum="yes" />
      </Component>

      <Component Id="TrayAppLibs" Guid="{5EF4DBC2-058B-4B9B-9BAF-0FD7317CDAA7}" DiskId="1">
        <File Source="$(var.ch.darkink.docker_volume_watcher.trayapp.TargetDir)\Hardcodet.Wpf.TaskbarNotification.dll" Checksum="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.trayapp.TargetDir)\Microsoft.Practices.ServiceLocation.dll" Checksum="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.trayapp.TargetDir)\Prism.dll" Checksum="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.trayapp.TargetDir)\Prism.Mef.Wpf.dll" Checksum="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.trayapp.TargetDir)\Prism.Wpf.dll" Checksum="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.trayapp.TargetDir)\System.Windows.Interactivity.dll" Checksum="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.trayapp.TargetDir)\WPFLocalizeExtension.dll" Checksum="yes" />
        <File Source="$(var.ch.darkink.docker_volume_watcher.trayapp.TargetDir)\XAMLMarkupExtensions.dll" Checksum="yes" />
      </Component>

      <Component Id="RegistryEntries" Guid="{2A37131E-4648-4766-91E4-E2956F3444E6}">
        <RegistryKey Root="HKCU" Key="Software\Darkink\$(var.C_INSTALL)\Settings">
          <RegistryValue Name="IsPollEnabled"             Action="write" Type="string" Value="[REG_ISPOLLENABLED]" />
          <RegistryValue Name="PollInterval"              Action="write" Type="string" Value="[REG_POLLINTERVAL]" />
          <RegistryValue Name="CheckUpdateAutomatically"  Action="write" Type="string" Value="[REG_CHECKUPDATEAUTOMATICALLY]" />
          <RegistryValue Name="IngoreFileMandatory"       Action="write" Type="string" Value="[REG_INGOREFILEMANDATORY]" />
          <RegistryValue Name="NotifierActionType"        Action="write" Type="string" Value="[REG_NOTIFIERACTIONTYPE]" />
          <RegistryValue Name="DockerEndpoint"            Action="write" Type="string" Value="[REG_DOCKERENDPOINT]" />
        </RegistryKey>
      </Component>

    </ComponentGroup>

    <Property Id="ServiceInstallOnAfterInstall" Value="SERVICE_NAME=$(var.C_NAME);EVENT_LOG_SOURCE=$(var.C_SOURCELOG);EVENT_LOG_NAME=$(var.C_NAMELOG)" />
    <Property Id="ServiceInstallOnAfterUninstall" Value="EVENT_LOG_SOURCE=$(var.C_SOURCELOG);EVENT_LOG_NAME=$(var.C_NAMELOG)" />

    <InstallExecuteSequence>
      <Custom Action="ServiceInstallOnAfterInstall" After="StartServices">NOT Installed</Custom>
      <Custom Action="ServiceInstallOnAfterUninstall" Before="DeleteServices">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence>

    <Icon Id="icon.ico" SourceFile="..\commons\icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{E85DC06C-E03D-4A02-94A1-D1D569F5369D}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.C_NAME)"
                  Icon="icon.ico"
                  Description="$(var.C_DESCRIPTION)"
                  Target="[#AppTray.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall $(var.C_NAME)"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  Description="Uninstall $(var.C_DESCRIPTION)" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Darkink\$(var.C_INSTALL)\Settings" Name="ApplicationProgramsFolderShortuct" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="{BA25AD09-885C-4DC0-858C-76621E7D1D4C}">
        <Shortcut Id="ApplicationDesktopShortcut"
                  Icon="icon.ico"
                  Name="$(var.C_NAME)"
                  Description="$(var.C_DESCRIPTION)"
                  Target="[#AppTray.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Darkink\$(var.C_INSTALL)\Settings" Name="DesktopFolderShortcut" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>