<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <CustomAction Id="ServiceInstallOnAfterInstall" BinaryKey="ServiceInstallB" DllEntry="ExecuteOnAfterInstall" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="ServiceInstallOnAfterUninstall" BinaryKey="ServiceInstallB" DllEntry="ExecuteOnAfterUninstall" Execute="deferred" Return="check" Impersonate="no" />
    <Binary Id="ServiceInstallB" SourceFile="$(var.ch.darkink.docker_volume_watcher.service_install.TargetDir)$(var.ch.darkink.docker_volume_watcher.service_install.TargetName).CA.dll" />
  </Fragment>
</Wix>